.color-template {
  color: hsl(14, 45%, 36%); /*nutmeg*/
  color: hsl(332, 51%, 32%); /*dark raspberry */
  color: hsl(0, 0%, 100%); /*white*/
  color: hsl(330, 100%, 98%); /*rosewhite*/
  color: hsl(30, 54%, 90%); /*eggshell*/
  color: hsl(30, 18%, 87%); /*lightgrey*/
  color: hsl(30, 10%, 34%); /*wenge brown*/
  color: hsl(24, 5%, 18%); /*dark charcoal*/
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  /* width: 375px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

.sgs-flex {
  display: flex;
  
}

h1, h2 {
  font-family: "Young Serif", serif;
}


  
.header-img img{
  width: 100%;
}

.recipe-content {
  padding: 20px 30px;
}


.recipe-title {
  font-size: 2.1rem;
  line-height: 2.2rem;
  color: hsl(24, 5%, 18%);
  font-weight: lighter;
}

.recipe-container {
  width: 375px;
  background-color: white;
}

.highlight {
  background-color: hsla(332, 51%, 32%, 4%);
  padding: 20px;
  padding-right: 30px;
  border-radius: 10px;
}

.highlight-title, h2 {
  color: hsl(332, 51%, 32%)
}

.highlight span {
  font-weight: 600;
  color: hsl(30, 10%, 34%);
}

.highlight li, .ing-list li {
  /* text-indent: 10px; */
  /* padding-left: 15px; */
  list-style-type: disc;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  margin-top: 0.7rem;
  /* margin 0;
  padding: 0; */
}

.highlight ul {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.highlight li::before, .ing-list li::before {
  display: block;
  content: "";
  flex-shrink: 0;
  --scale: 0.25rem;
  width: var(--scale);
  height: var(--scale);
  border-radius: 50%;
  background: hsl(332, 51%, 32%);
  margin-right: 1.75rem;
  /* margin-top: 10px; */
}

.ing-list li::before{
  margin-left: -2rem;
}

.steps {
  margin: 0;
  padding: 0;
  margin-left: 0.25rem;
}

.steps li {
  display: flex;
  list-style-type: none;
  margin-bottom: 0.75rem;
}

.steps span{
  color: hsl(332, 51%, 32%);
  margin-right: 1.75rem;
  font-weight: 600;
}

.nutritional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutritional-info hr{
  width: 100%;
  margin: 1rem 0;
}

.nutritional-info div {
  display: flex;
  justify-content:flex-start;
  margin-left: 4rem;
  width: 100%;
  padding: 0.5rem 0;
}

.nutritional-info span{
  flex-basis: 8rem;
}

.nutritional-info div strong{
  color: hsl(332, 51%, 32%);
}

.nutrition p{
  margin: 1.5rem 0.5rem;
}

h3 {
  margin: 0;
  padding: 0;
}

hr{
  margin: 2rem 0;
}


@media (min-width: 768px) {

  body {
    background-color: hsl(30, 54%, 90%);
    padding: 8rem;
  }

  .recipe-container {
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem;
  }

  /* .sgs-flex {
    flex-direction: row;
  } */

  .header-img img{
    width: 660px;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
    margin: 1rem;
  }

  .recipe-content {
    padding: 40px 50px;
    width: 635px;
  }

  .highlight {
    padding-right: 50px;
  }

  .steps span{
    margin-right: 2.5rem;
  }

  .nutritional-info div {
    margin-left: 6rem;
  }
}